In [1]:
import yfinance as yf
import pandas as pd 
import numpy as np

In [22]:
tickers = {"S&P500": "^GSPC", "CAC40": "^FCHI"}
start_date = "2015-01-01"
end_date = "2024-12-31"


# DataFrame vide avec l'index correspondant aux dates
df_prices = pd.DataFrame()

for name, ticker in tickers.items():
    df = yf.download(ticker, start=start_date, end=end_date)
    # Ajouter la colonne Close avec le nom du marché
    df_prices[name] = df['Close']

/var/folders/nk/kpj6413n2lj1cln9c1z0_pj80000gn/T/ipykernel_3899/97500509.py:10: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed
/var/folders/nk/kpj6413n2lj1cln9c1z0_pj80000gn/T/ipykernel_3899/97500509.py:10: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

In [23]:
df_prices

                 S&P500        CAC40
Date
2015-01-02  2058.199951  4252.290039
2015-01-05  2020.579956  4111.359863
2015-01-06  2002.609985  4083.500000
2015-01-07  2025.900024  4112.729980
2015-01-08  2062.139893  4260.189941
...                 ...          ...
2024-12-23  5974.069824  7272.319824
2024-12-24  6040.040039  7282.689941
2024-12-26  6037.589844          NaN
2024-12-27  5970.839844  7355.370117
2024-12-30  5906.939941  7313.560059

[2515 rows x 2 columns]

In [24]:
# Calcul des rendements logarithmiques
df_returns = np.log(df_prices / df_prices.shift(1)).dropna()

# Volatilité réalisée sur fenêtre mobile de 20 jours
window = 20
df_vol = df_returns.rolling(window).std() * np.sqrt(252)
print(df_vol.tail())

              S&P500     CAC40
Date
2024-12-19  0.128511  0.113099
2024-12-20  0.133157  0.113590
2024-12-23  0.135191  0.111834
2024-12-24  0.140375  0.111929
2024-12-30  0.144293  0.109235

In [27]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df_prices, title="Exploration du S&P500 et CAC40", explorative=True)
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 2/2 [00:00<00:00, 143.83it/s]
0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]